.tp-card {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 5rem;
   padding-right: 5rem;
   padding-bottom: 5rem;
   padding-top: 5rem;
   margin: 5rem;
 }
 .tp-header-image {
    background-image: url('https://www.w3schools.com/css/img_5terre.jpg');
    background-size: cover;
 }

 .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  .password-field{
      width: 100%;
  }

.log-in-button{
    
}